<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DependencyCheckerSection" type="DependencyChecker.Configuration.DependenciesSection, DependencyChecker"/>
  </configSections>

  <DependencyCheckerSection
      title="Dependency checking tool"
      description="These dependencies are required if you want to download and view the source code and documentation.">
    <!-- 
    Register all of the evaluators that we'll need.
    This associates a name (of our choice) with a specific type implementing ICheckEvaluator.
    All of the included evaluators are registered below.
    -->
    <checkEvaluators>
      <checkEvaluator name="Registry" type="DependencyChecker.CheckEvaluators.RegistryCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Software" type="DependencyChecker.CheckEvaluators.SoftwareCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Expression" type="DependencyChecker.CheckEvaluators.ExpressionCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Hotfix" type="DependencyChecker.CheckEvaluators.HotFixCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="NotSupported" type="DependencyChecker.CheckEvaluators.NotSupportedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Wmi" type="DependencyChecker.CheckEvaluators.WmiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="WPI" type="DependencyChecker.CheckEvaluators.WpiCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="CodeBased" type="DependencyChecker.CheckEvaluators.CodeBasedCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Certificate" type="DependencyChecker.CheckEvaluators.CertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="MultiCertificate" type="DependencyChecker.CheckEvaluators.MultiCertificateCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="LoadProfile" type="DependencyChecker.CheckEvaluators.ProfileCheckEvaluator, DependencyChecker"/>
      <checkEvaluator name="Database" type="DependencyChecker.CheckEvaluators.DatabaseCheckEvaluator, DependencyChecker" />
      <checkEvaluator name="Sql" type="DependencyChecker.CheckEvaluators.SqlCheckEvaluator, DependencyChecker" />
      <checkEvaluator name="File" type="DependencyChecker.CheckEvaluators.FileCheckEvaluator, DependencyChecker" />
    </checkEvaluators>

    <!--
    We initialize instances of the evaluators registered above. 
    We can have multiple evaluators of the same type.
    -->
    <checks>
      <check name="IIS7CGCC" checkType="WPI" value="WASProcessModel!WASNetFxEnvironment!WASConfigurationAPI!MetabaseAndIIS6Compatibility!IIS7"/>
      <check name="WCF" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\Net Framework Setup\ndp\v3.0\Setup\Windows Communication Foundation\HTTPActivation|HKLM:SOFTWARE\Wow6432Node\Microsoft\Net Framework Setup\ndp\v3.0\Setup\Windows Communication Foundation\HTTPActivation||"/>
      <check name="VS2010" checkType="Registry" value="HKLM:SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|HKLM:SOFTWARE\Wow6432Node\Microsoft\VisualStudio\10.0\Setup\VS\BuildNumber|1033|"/>
      <check name="VS2010SP1" checkType="WPI" value="VS2010SP1Pack" />
      <check name="WIFRuntime" checkType="WPI" value="WIF"/>
      <check name="WindowsAzureToolsVS2010" checkType="WPI" value="VWDOrVs2010SP1AzurePack"/>
      <check name="AllCertificates" checkType="MultiCertificate" value="LocalMachine,My,f260042d59e14817984c6183fbc6bfc71baf5462|LocalMachine,TrustedPeople,f260042d59e14817984c6183fbc6bfc71baf5462|LocalMachine,My,5a074d678466f59dbd063d1a98b1791474723365|LocalMachine,TrustedPeople,5a074d678466f59dbd063d1a98b1791474723365|LocalMachine,My,d2316a731b59683e744109278c80e2614503b17e|LocalMachine,TrustedPeople,d2316a731b59683e744109278c80e2614503b17e|LocalMachine,My,fe58cb789562526dc21a50a6eea34757e9693cb1|LocalMachine,TrustedPeople,fe58cb789562526dc21a50a6eea34757e9693cb1"/>
      <check name="HttpsConfigured" checkType="CodeBased" value="not-used"/>
      <check name="SqlSetup" checkType="WPI" value="SQLExpress" />
      <check name="DbSetup" checkType="Database" value="alias=WAGSqlAlias!db=adatum-survey" />
      <check name="ProfileIsEnabled" checkType="LoadProfile" value="not-used" />
      <check name="MVC3" checkType="WPI" value="MVC3" />      
      <check name="AppFabricSDK" checkType="WPI" value="AzureAppFabricSDKV1PROD"/>
      <check name="AntiXssLib" checkType="File" value="..\\..\\Lib\\Microsoft Anti-Cross Site Scripting Library\\AntiXSSLibrary.dll" />
      <check name="WebAiiFwk" checkType="File" value="..\\..\\Lib\\WebAii\\ArtOfTest.WebAii.dll" />      
      <check name="MoqLib" checkType="File" value="..\\..\\Lib\\Moq\\Moq.dll" />      
    </checks>

    <!--
    Here we define the dependencies using the checks defined above. 
    These entries provide additional information such as explanatory text for the user
    and friendly display names as well as identify prerequisites.
    -->
    <MinimumRequirements MinimumOSBuildNumber="3790">
      <dependency check="IIS7CGCC"
        enabled="true"
        category="Required"
        title="Internet Information Server 7"
        explanation="Internet Information Server 7 is required run the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="WASProcessModel,WASNetFxEnvironment,WASConfigurationAPI,MetabaseAndIIS6Compatibility,IIS7"/>
      
      <dependency check="WCF"
        enabled="true"
        category="Required"
        title="Windows Communication Foundation enabled in IIS"
        explanation="You have to enable Windows Communication Foundation."
        scriptName="cmd:DependencyChecker.Commands.RegisterAspnetCommand"
        dependsOn="IIS7CGCC"/>
        
      <dependency check="VS2010"
        enabled="true"
        category="Required"
        title="Visual Studio 2010"
        explanation="Visual Studio 2010 is required to run the samples."
        downloadUrl="http://go.microsoft.com/fwlink/?LinkId=178875"/>
      
      <dependency check="VS2010SP1"
        enabled="true"
        category="Required"
        title="Visual Studio 2010 SP1"
        explanation="Visual Studio 2010 SP1 is required to open all samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="VS2010SP1Pack"
        dependsOn="VS2010"/>
        
      <dependency check="WindowsAzureToolsVS2010"
        enabled="true"
        category="Required"
        title="Windows Azure SDK for .NET"
        explanation="Windows Azure SDK for .NET is required to open all samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="VWDOrVs2010SP1AzurePack"
        dependsOn="VS2010"/>
  	
      <dependency check="WIFRuntime"
        enabled="true"
        category="Required"
        title="Windows Identity Foundation Runtime"
        explanation="In order to run the samples, you need Windows Identity Foundation Runtime installed."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="WIF"
        dependsOn="VS2010"/>
		
	   <dependency check="SqlSetup"
        enabled="true"
        category="Required"
        title="SQL Server 2008"
        explanation="SQL Server is required to open the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="SQLExpress"
		/>


      <dependency check="DbSetup"
        enabled="true"
        category="Required"
        title="Database for samples"
        explanation="Database for samples"
        scriptName="cmd:DependencyChecker.Commands.CreateDatabaseCommand"
        settings="alias=WAGSqlAlias!db=adatum-survey!registerAspNetSql=false!addAspNetUsers=true"
        dependsOn="SqlSetup"/>
        
      <dependency check="ProfileIsEnabled"
       enabled="true"
       category="Required"
       title="Application Pool User Profile Enabled"
       explanation="Application Pool User Profile Enabled should be configured"
       scriptName="cmd:DependencyChecker.Commands.SetupProfileCommand" />
       
      <dependency check="AllCertificates"
        enabled="true"
        category="Required"
        title="Certificates for samples"
        explanation="Certificates that the samples run on. These certificates are for development purposes only."
        scriptName="cmd:DependencyChecker.Commands.CertificateSetupCommand"
        settings=".\certs\localhost.pfx,TrustedPeople,xyz|.\certs\localhost.pfx,My,xyz|.\certs\adatum.pfx,TrustedPeople,Passw0rd!|.\certs\adatum.pfx,My,Passw0rd!|.\certs\fabrikam.pfx,TrustedPeople,Passw0rd!|.\certs\fabrikam.pfx,My,Passw0rd!|.\certs\tailspin.pfx,TrustedPeople,Passw0rd!|.\certs\tailspin.pfx,My,Passw0rd!|.\certs\root.cer,AuthRoot,"
        dependsOn="IIS7CGCC"/>
        
      <dependency check="HttpsConfigured"
        enabled="true"
        category="Required"
        title="Https configured in IIS"
        explanation="To run the samples, https binding should be configured in IIS - IIS should be installed prior to this."
        scriptName="cmd:DependencyChecker.Commands.SetupHttpsCommand"
        dependsOn="IIS7CGCC,AllCertificates"/>
        
      <dependency check="MVC3"
        enabled="true"
        category="Required"
        title="MVC 3 Framework"
        explanation="MVC 3 is required to run the samples."
        scriptName="cmd:DependencyChecker.Commands.WpiCommandLine"
        settings="MVC3"
        dependsOn="VS2010"/>
      
      <dependency check="AntiXssLib"
        enabled="true"
        category="Required"
        title="Microsoft Anti-Cross Site Scripting"
        explanation="Microsoft Anti-Cross Site Scripting. This needs to be in the Lib folder of the project"
        downloadUrl="http://www.microsoft.com/downloads/en/details.aspx?FamilyID=f4cd231b-7e06-445b-bec7-343e5884e651"/>

      <dependency check="MoqLib"
        enabled="true"
        category="Required"
        title="Moq"
        explanation="Moq. This needs to be in the Lib folder of the project"
        downloadUrl="http://code.google.com/p/moq/downloads/detail?name=Moq.4.0.10501.6-bin.zip"/>
      
      <dependency check="WebAiiFwk"
        enabled="true"
        category="Installation: Only required to run functional tets"
        title="WebAii Testing Framework"
        explanation="WebAii Testing Framework is used in the functional tests. This needs to be in the Lib folder of the project"
        downloadUrl="http://www.telerik.com/automated-testing-tools/webaii-framework-features.aspx"/>
        
    </MinimumRequirements>
  </DependencyCheckerSection>

  <startup>
    <startup>
      <supportedRuntime version="v3.5"/>
      <supportedRuntime version="v4.0.30319"/>
    </startup>
  </startup>
</configuration>